$marco: solid 4px lightblue;
$fondo: skewx(-7deg) linear-gradient(to right, magenta, dodgerblue);
$mapa: 0px;

.cardcontacto{
     background-image: $fondo;
     border: $marco;
     padding: $mapa;
   



    

}