<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fabricaciones digitales en Ciudad Autónoma de Buenos Aires (CABA). Proveedores de impresión 3d, router CNC, corte láser, plasma y chorro de agua. Cursos de programas CAD y CAM. Laboratorios de fabricación dígital (FABLAB).">
    <meta name="keywords" content="Fabricaciones digitales,FABLAB, Laboratorios de fabricaciones digitales, CABA, Ciudad Autónoma de Buenos Aires, impresión 3d, corte láser, corte por chorro de agua, waterjet, corte por plasma, cursos CAD, cursos CAM , Solidworks , Autocad, CATIA, Rhinoceros 3D, proveedores ">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <title>Fabricaciones dígitales en Ciudad Autónoma de Buenos Aires (CABA).Laboratorios de fabricación dígital (FABLAB).</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../scss/prueba.css">
    <link rel="stylesheet" href="./fonts/Gamer.ttf">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <style type="text/css">
        body {
            background-image: url("../img/fondoweb.jpg");
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>

<body>
    <header>
        <!-- barra de inicio-->


        <nav class="navbar navbar-expand-lg navbar-dark bg-light navbar">

            <a class="navbar-brand logo" href="">
                <img src="../img/TITULO.261.png" width="440" height="360" alt="logo" loading="lazy">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
         </button>
            <div class="collapse navbar-collapse navbarmenu" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">

                        <a class="nav-link" href="../index.html">
                            <h2>INICIO</h2> <span class="sr-only">(current)</span></a>

                    </li>

                    <li class="nav-item dropdown">
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle menunosotrosdropdown" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <h2>NOSOTROS</h2>
                        </button>
                        <div class="dropdown-menu nosotrosdropdown" aria-labelledby="dropdownMenu2">
                          <button class="dropdown-item" type="button"><a href="../views/NOSOTROS.html"><h2>ACERCA DE</h2></a></button>
                          <button class="dropdown-item" type="button"><a href="../views/NOSOTROS.html"><h2>CONTACTENOS</h2></a></button>
                          
                        </div>
                      </div>
                    </li>

                    

                       
                    <li class="nav-item">

                        <a class="nav-link" href="#">
                            <h2>FABLABS</h2>
                        </a>

                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="../views/PROVEEDORES.html">
                            <h2>PROVEEDORES</h2>
                        </a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link" href="../views/CURSOS.html">
                            <h2>CURSOS</h2>
                        </a>

                    </li>

                </ul>
            </div>

        </nav>
        <p id="top"></p>


    </header>




    <main>

        <div class="padreinstagramyfacebook">
            <a href="https://www.instagram.com/corvinofranco/?hl=es-la"><img src="../img/logo_instagram.png.png" alt="instagram" width="40px" height="40px" class="instagram"></a>
            <a href="https://www.facebook.com/francomartincorvino"><img src="../img/logo_facebook.png.png" alt="facebook" width="40px" height="40px" class="facebook"></a>
        </div>
    </main>

<div class="titulo">HOLA</div>
    <div class="container padrefablab">
        <div class="row ">
            
           

                    <div class="col-md-3 col-sm-6 col-xs-6 col-6">
                        
                            <div class="fablab">
                                <img src="../img/FOTOMONTAJE WEB 2.png " class="card-img" alt="...">
                            
                            
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <h3 class="card-text">This is a wider card with supporting text .</h3>
                                    <br>
                                    <a href="../views/FABLABS.html  " class="btn btn-primary ">Ir al sitio</a>
                                </div>
                            </div>
                    </div>
                    <!--fin card 1-->

                    
                    <div class="col-md-3 col-sm-6 col-xs-6 col-6">
                        
                        <div class="fablab">
                            <img src="../img/FOTOMONTAJE WEB 2.png " class="card-img" alt="...">
                        
                        
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <h3 class="card-text">This is a wider card with supporting text .</h3>
                                <br>
                                <a href="../views/FABLABS.html  " class="btn btn-primary ">Ir al sitio</a>
                            </div>
                        </div>
                    </div>
               
                 
                  
                    <!--fin card 1-->
                
                    
                    <div class="col-md-3 col-sm-6 col-xs-6 col-6">
                        
                        <div class="fablab">
                            <img src="../img/FOTOMONTAJE WEB 2.png " class="card-img" alt="...">
                        
                        
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <h3 class="card-text">This is a wider card with supporting text .</h3>
                                <br>
                                <a href="../views/FABLABS.html  " class="btn btn-primary ">Ir al sitio</a>
                            </div>
                        </div>
                    </div>
                    <!--fin card 1-->
                    
                    
                    <div class="col-md-3 col-sm-6 col-xs-6 col-6">
                        
                        <div class="fablab">
                            <img src="../img/FOTOMONTAJE WEB 2.png " class="card-img" alt="...">
                        
                        
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <h3 class="card-text">This is a wider card with supporting text .</h3>
                                <br>
                                <a href="../views/FABLABS.html  " class="btn btn-primary ">Ir al sitio</a>
                            </div>
                        </div>
                    </div>
                    <!--fin card 1-->
                   
                   
                    


                
                

        </div>
    </div>

    
    
   
        <div class="padreinstagramyfacebook">
            <a href="https://www.instagram.com/corvinofranco/?hl=es-la"><img src="../img/logo_instagram.png.png" alt="instagram" width="40px" height="40px" class="instagram"></a>
            <a href="https://www.facebook.com/francomartincorvino"><img src="../img/logo_facebook.png.png" alt="facebook" width="40px" height="40px" class="facebook"></a>
        </div>

    <footer>
        <div class="pos-f-t">

            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                
                
                    <ul class="navbar-nav listafooter">
                        <li class="nav-item active">

                            <a class="nav-link" href="../index.html">
                                <div class="seccionfooter">
                                    <h2>INICIO</h2> 
                                </div>
                            </a>


                        </li>
                        


                        <li class="nav-item dropdown">
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle footermenunosotrosdropdown" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <h2>NOSOTROS</h2>
                              </button>
                              <div class="dropdown-menu nosotrosdropdown" aria-labelledby="dropdownMenu2">
                                <button class="dropdown-item" type="button"><a href="../views/NOSOTROS.html"><h2>ACERCA DE</h2></a></button>
                                <button class="dropdown-item" type="button"><a href="../views/NOSOTROS.html"><h2>CONTACTENOS</h2></a></button>
                                
                              </div>
                            </div>
                        </li>


                        
                        <li class="nav-item">

                            <a class="nav-link" href="#">
                                <div class="seccionfooter">
                                    <h2>FABLABS</h2>
                                </div>

                            </a>

                        </li>
                        <li class="nav-item">

                            <a class="nav-link" href="../views/PROVEEDORES.html">
                                <div class="seccionfooter">
                                    <h2>PROVEEDORES</h2>
                                </div>
                            </a>

                        </li>

                        <li class="nav-item">

                            <a class="nav-link" href="../views/CURSOS.html">
                                <div class="seccionfooter">
                                    <h2>CURSOS</h2>
                                </div>

                            </a>

                        </li>

                    </ul>
                
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
              <button class="navbar-toggler iconofooter" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
          </div>

          











            </div>



     </div>   

    </footer>
 

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>

</html>